@import "variables.styl"
// TODO: refactor
@import "../widgets/styles.styl"


.content-table
    display: table
    width: 100%
    height: 'calc(100vh - %s)' % $navbar-height

.content-row
    display: table-row

.visualizer
    display: table-cell
    position: fixed
    top: $navbar-height
    left: $sidebar-width
    right: $controls-width
    bottom: 0

.controls
    display: table-cell
    width: $controls-width
    min-width: $controls-width
    max-width: $controls-width
    right: 0
    padding: 6px 10px 0 20px
    background-color: $grey-color5
    border-left: 1px solid $border-color
